<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Goggle Cloud" src="{{ "/assets/img/gcf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Google Cloud Computing </h3>
    <ul>
      <li> Cloud Apis</li>
    </ul>
    <p>Done google cloud computing at Qwiklabs during the Google cloud Facilitatory program</p>

  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Hacktoberfest" src="{{ "/assets/img/hkk.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hacktoberfest </h3>
    <ul>
      <li> Cpp, Python, HTML,CSS</li>
    </ul>
    <p>Participated at Hacktoberfest 2020 and won it</p>
  </div>
</div>
